name: Trigger Validation Workflow

on:
  workflow_dispatch: {}
  push:
    branches: [main]

jobs:
  validate:
    uses: ashwinkumarkondath/data-contracts-repo/.github/workflows/validate-odcs.yaml@main
    with:
      caller-repo: ${{ github.repository }}      
      input-path: odcs/datacontract.yaml
    secrets:
      CALLER_REPO_TOKEN: ${{ secrets.CALLER_REPO_TOKEN }}
  push-atlan:
    needs: validate
    uses: ashwinkumarkondath/data-contracts-repo/.github/workflows/convert-odcs-atlan.yaml@main
    with:
      caller-repo: ${{ github.repository }}      
      input-path: odcs/datacontract.yaml
    secrets:
      CALLER_REPO_TOKEN: ${{ secrets.CALLER_REPO_TOKEN }}
      ATLAN_BASE_URL: ${{ secrets.ATLAN_BASE_URL }}
      ATLAN_API_KEY: ${{ secrets.ATLAN_API_KEY }}
