name: Trigger Validation Workflow

on:
  push:
    branches:
      - main  # or any branch you're targeting for workflowA to run on

jobs:
  call-reusable-workflow:
    uses: ashwinkumarkondath/data-contracts-repo/.github/workflows/validation-trigger.yaml@main
    with:
      branch: 'main'
